@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  margin: revert;
}

body {
  --black: #111111;
  --white: #fdfdfd;
  --green: #0B5B05;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;
  --gray: #7E9188;
  text-align: justify;
}

@layer base {
  :root {
    --background: 134 41% 100%;
    --foreground: 134 58% 4%;
    --muted: 134 12% 94%;
    --muted-foreground: 134 9% 35%;
    --popover: 0 0% 99%;
    --popover-foreground: 134 58% 3%;
    --card: 0 0% 99%;
    --card-foreground: 134 58% 3%;
    --border: 134 5% 93%;
    --input: 134 5% 93%;
    --primary: 134 24% 27%;
    --primary-foreground: 134 24% 87%;
    --secondary: 134 13% 88%;
    --secondary-foreground: 134 13% 28%;
    --accent: 134 20% 79%;
    --accent-foreground: 134 20% 19%;
    --destructive: 11 94% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 134 24% 27%;
    --radius: 0.5rem;
    --text-color-light: zinc;
  --text-color-dark: white;
  }

  .dark {
    --background: 134 30% 2%;
    --foreground: 134 19% 98%;
    --muted: 134 12% 6%;
    --muted-foreground: 134 9% 65%;
    --popover: 134 30% 3%;
    --popover-foreground: 134 19% 99%;
    --card: 134 30% 3%;
    --card-foreground: 134 19% 99%;
    --border: 134 5% 14%;
    --input: 134 5% 14%;
    --primary: 134 24% 27%;
    --primary-foreground: 134 24% 87%;
    --secondary: 134 3% 12%;
    --secondary-foreground: 134 3% 72%;
    --accent: 134 10% 20%;
    --accent-foreground: 134 10% 80%;
    --destructive: 11 94% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 134 24% 27%;
    --text-color: var(--text-color-dark);
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

article#blog * {
  margin: revert;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: var(--gray);
  transform-origin: 0%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000000;
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #6c7570;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgb(0, 0, 0);
}

::-webkit-scrollbar-corner {
  background: #000;
}


h1 {
  margin: revert;
}